.order {
    padding-bottom: 80px;
    background: $container-color;
    .title {
        text-align: center;
        margin-top: 20px;
    }
    &__form {
        margin-top: 70px;
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            margin-left: 20px;
            width: 40px;
            transform: scale(1.5);
        }
    }
    &__input {
        margin-left: 20px;
        width: 280px;
        height: 50px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        border: none;
        font-size: 18px;
        text-align: center;
        padding: 0 20px;
        outline: none;
    }
    &__btn {
        width: 220px;
        height: 50px;
        margin-left: 20px;
        border: none;
        border-radius:11px;
        background: cornflowerblue;
        &:hover {
            background: greenyellow;
        }
    }
}